Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Проверка окружения:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  tags:
  - vanessa-add
  script:
  - chcp 65001
  - set PATH
  - set
  - where oscript
  - oscript -version
  - where opm
  - call opm version
  - call opm list
  - where vrunner
  - call vrunner version

Восстановление epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: fetch
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy %EPF_CACHE_PATH% . *.epf cache.json /S /XA:H /NP /UNICODE & dir *.yml & echo success!"
  ...

Сборка файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: false
  script:
  - chcp 65001
  - opm run init file --v8version 8.3.10
  artifacts:
    paths:
    - .\build\ib\1Cv8.1CD
  tags:
  - vanessa-add

Сохранение epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy . %EPF_CACHE_PATH% *.epf cache.json /MIR /XA:H /NP /UNICODE" & dir *.yml & echo success"
  when: always
  tags:
  - vanessa-add

Сборка пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - opm build .
  artifacts:
    paths:
    - .\add-*.zip
    - .\add-*.ospx
  tags:
  - vanessa-add

Сохранение epf-файлов для сборки пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy .\.forbuild %EPF_CACHE_PATH%\.forbuild *.* /MIR /XA:H /NP /UNICODE" & dir *.yml & echo success"
  ...

Модульные тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-tdd/junit-tdd.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-tdd/allure.xml}"
  artifacts:
    when: always
    paths:
  ...

Дымовые тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests/smoke %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-smoke/junit-smoke.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-smoke/allure.xml}"
  artifacts:
    when: always
  ...

BDD тестирование (библиотеки):
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - vrunner vanessa %CI_VRUNNER_SETTINGS% --path features/libraries
  artifacts:
    when: always
    paths:
    - ServiceBases/junitreport/*.xml
    - ServiceBases/allurereport/*.*
    reports:
      junit:
  ...

Allure:
  stage: Allure
  variables:
    GIT_STRATEGY: none
  when: always
  allow_failure: true
  script:
  - call allure generate build/allure-tdd build/allure-smoke ServiceBases/allurereport -c -o build/allure-result
  - echo Allure results - %CI_JOB_URL%/artifacts/file/build/allure-result/index.html
  artifacts:
  ...

если роли не существуют, по ней не выдаются ошибки
  lib/CF/83xddNoSync/Roles/ПолныеПрава/Ext/Rights.xml
  tests/smoke/Тесты_ПроверкаПравНаПредопределенныеДанныеОбъектов/Тесты_ПроверкаПравНаПредопределенныеДанныеОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

настройки для прохождения дымовых
  lib/CF/83xddNoSync/BusinessProcesses/БизнесПроцесс1.xml
  lib/CF/83xddNoSync/BusinessProcesses/БизнесПроцесс2.xml
  lib/CF/83xddNoSync/ExchangePlans/ПланОбмена1.xml
  lib/CF/83xddNoSync/Roles/Роль1/Ext/Rights.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

Подготовительные изменения для добавления новых настроек, реализация настроек открытия форм
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

замечания Сонара
  epf/bddRunner/bddRunner/Forms/ИсследовательФормы/Ext/Form/Module.bsl
  epf/bddRunner/bddRunner/Forms/МодульАсинк/Ext/Form/Module.bsl
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  epf/bddRunner/bddRunner/Forms/Форма/Ext/Form/Module.bsl
  epf/xddTestRunner/xddTestRunner/Forms/МодульАсинк/Ext/Form/Module.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  examples/features/Buh30/step_definitions/Avance/Avance/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/UITestRunner/step_definitions/ОткрытьTestClient/ОткрытьTestClient/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Данные/step_definitions/Регламентные_задания/Регламентные_задания/Forms/Форма/Ext/Form/Module.bsl
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/ОткрытьВнешнийФайл/Forms/МодульАсинк/Ext/Form/Module.bsl
  plugins/ДвиженияДокумента/ДвиженияДокумента/Ext/ObjectModule.bsl
  plugins/Информатор/Информатор/Forms/Форма/Ext/Form/Module.bsl
  plugins/СериализаторMXL/СериализаторMXL/Ext/ObjectModule.bsl
  plugins/СериализаторMXL/СериализаторMXL/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/СериализаторMXL/СериализаторMXL/Forms/ФормаСтруктурыПодчиненности/Ext/Form/Module.bsl
  tests/smoke/Tests_SmokeCommonModules/Tests_SmokeCommonModules/Ext/ObjectModule.bsl
  tests/smoke/Tests_SmokeCommonModules/Tests_SmokeCommonModules/Forms/Form/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПрефиксаВНовыхОбъектахИРеквизитах/Тесты_ПроверкаПрефиксаВНовыхОбъектахИРеквизитах/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Добавлена настройка ЗакрыватьМодальныеОкна
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Добавлена настройка командного интерфейса
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Добавлена настройка макетов скд
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Доавлены настройки для тестов проведения и печатных форм
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

devops:#894 Актуализировал настройки проекта для сонара, добавил джобу для анализа в sonarqube
  .github/workflows/qa.yml
  sonar-project.properties
Due: none

devops:#894 Версия рантайма 1С для анализа
  sonar-project.properties
Due: none

devops:#894 Версия рантайма 1С для анализа
  .github/workflows/qa.yml
  sonar-project.properties
Due: none

УправлениеДымовымиТестами формат 8_3_10
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Расширение инструмента "Управление дымовыми тестами" (#892)
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

мелкие замечания Сонара
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tasks/init.os
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

расставил код по областям
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

лишние серверные вызовы при открытии
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

файлы из tools проверяются Сонаром
  sonar-project.properties
Due: none

опечатки + директивы препроцессора
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

лишние серверные вызовы при сохранении
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

add Описание новых тестов и пример файла с конфигурацией поставщика
  tests/smoke/readme.md
  tests/smoke/smoke_tests_for_v8std.md
  tools/JSON/providerConfiguration.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix readme
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix readme 2
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix smoke_tests_for_v8std
  tests/smoke/smoke_tests_for_v8std.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix smoke_tests_for_v8std 3
  tests/smoke/smoke_tests_for_v8std.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix smoke_tests_for_v8std 4
  tests/smoke/smoke_tests_for_v8std.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Белый список метаданных для теста открытия форм
  features/1bdd/Дымовой тест открытия форм.feature
  spec/fixtures/smoke-include.json
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

УФ: ПоказатьСвойстваВРежимеОтладки сделан публичным
  plugins/Настройки/Настройки/Ext/ObjectModule.bsl
  plugins/Настройки/Настройки/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

расширил сценарий для прочих метаданных
  features/1bdd/Дымовой тест открытия форм.feature
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, BDD тестирование (библиотеки), Allure

в исключение показано значение
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

отступ
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

пробелы
  plugins/ИтераторМетаданных/ИтераторМетаданных/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

расширил настройки для прочих метаданных
  spec/fixtures/smoke.json
Due: none

новый сценария для нового формата исключения
  features/1bdd/Дымовой тест открытия форм.feature
  spec/fixtures/smoke-exclude.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, BDD тестирование (библиотеки), Allure

поддержка нового формата исключения
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

документация + новое название ключа
  spec/fixtures/smoke-include.json
  tests/smoke/readme.md
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

рефакторинг
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

избавился от задания исключений в коде теста
  tests/smoke/readme.md
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
