Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml

Добавлены тесты открытия форм регистров накопления.
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

В описание добавлены регистры.
  tests/smoke/readme.md
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Добавил исключение регистров сведений в тесте коммандного интерфейса.
  tests/smoke/readme.md
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Исправлена ошибка с периодическими регистрами. Выборка для открытия регистров переделана на выборку из запроса.
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Для тест-клиента передается ключ /DisableStartupDialogs
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/xunit/Core/Тесты_ЗапускВПакетномРежиме/Тесты_ЗапускВПакетномРежиме/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Update smoke_tests_for_v8std.md
  tests/smoke/smoke_tests_for_v8std.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Тест ПроверкаСтандартныхРолей добавлен отбор по префиксу
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/Тесты_ПроверкаСтандартныхРолей/Тесты_ПроверкаСтандартныхРолей/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Отдельно выделил спец.тесты по стандартам
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Добавлена возможность указания произвольного наименования контейнера тестов для тестов в новом формате
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Реализовано сохранение настроек из файла настроек при пакетном запуске для последующей передачи в тесты, формируемые на стороне сервера.
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Добавлены отбор и исключение из проверки по префиксу имени объекта метаданных
  tests/smoke/smoke.example.json
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаленияПомеченных/Тесты_ПроверкаПраваИнтерактивногоУдаленияПомеченных/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

для теста ФормированиеПечатныхФорм добавлена настройка ПропускатьПустыеФормы
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

устранения замечаний
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

#998
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

доработка теста тесты_ФормированиеПечатныхФорм, что б не срабатывали "ложные" ошибки
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Обращение на сервере к модулям с синтакс. ошибкой
  doc/KNOWN-PROBLEMS.md
Due: none

Улучшен пропуск теста через ПропуститьТест
  tests/smoke/тесты_ПроведениеДокументов/тесты_ПроведениеДокументов/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Исправлены ссылки на файлы настройки
  doc/настройки-профиля-запуска.md
Due: none

Внес правки для работоспособности обработки в обчных формах
  epf/bddRunner/bddRunner.xml
  epf/bddRunner/bddRunner/Ext/Help.xml
  epf/bddRunner/bddRunner/Ext/Help/ru.html
  epf/bddRunner/bddRunner/Forms/ВыборИзвестногоШага.xml
  epf/bddRunner/bddRunner/Forms/ВыборИзвестногоШага/Ext/Form.xml
  epf/bddRunner/bddRunner/Forms/ВыборИзвестногоШагаОФ.xml
  epf/bddRunner/bddRunner/Forms/ДеталиОшибки.xml
  epf/bddRunner/bddRunner/Forms/ДеталиОшибки/Ext/Form.xml
  epf/bddRunner/bddRunner/Forms/ЗаписьJSON.xml
  epf/bddRunner/bddRunner/Forms/ЗаписьJSON/Ext/Form.bin
  epf/bddRunner/bddRunner/Forms/ЗаписьJSON/Ext/Form/Module.bsl
  epf/bddRunner/bddRunner/Forms/ЗаписьJSON/Ext/Form/form
  epf/bddRunner/bddRunner/Forms/ИсследовательФормы.xml
  epf/bddRunner/bddRunner/Forms/ИсследовательФормы/Ext/Form.xml
  epf/bddRunner/bddRunner/Forms/МодульАсинк.xml
  epf/bddRunner/bddRunner/Forms/МодульАсинк/Ext/Form.xml
  epf/bddRunner/bddRunner/Forms/РедактированиеТаблицы.xml
  epf/bddRunner/bddRunner/Forms/РедактированиеТаблицы/Ext/Form.xml
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма.xml
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form.xml
  epf/bddRunner/bddRunner/Forms/Форма.xml
  epf/bddRunner/bddRunner/Forms/Форма/Ext/Form.bin
  epf/bddRunner/bddRunner/Forms/Форма/Ext/Form/Module.bsl
  epf/bddRunner/bddRunner/Forms/Форма/Ext/Form/form
  epf/bddRunner/bddRunner/Templates/ОтчетТестирования.xml
  epf/bddRunner/bddRunner/Templates/ОтчетТестирования/Ext/Template.xml
  epf/bddRunner/bddRunner/Templates/ПереводСообщений.xml
  epf/bddRunner/bddRunner/Templates/ШаблонПеревода.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

Реализован мягкий механизм закрытия тест-клиентов
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix: Не закрывались тест-клиенты в синхронном режиме (проверял на дымовых)
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Galeri
  SECURITY.md
Due: none

fix: Исправлена ощибка при заполнении набора тестов с логикой тестирования в форме клиентского приложения
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Ext/ObjectModule.bsl
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Update ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Написание тестов через расширение вне общих модулей #1057
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения.xml
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма.xml
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form.xml
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Исправление Ошибка в режиме совместимости #1056
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Тесты из объекта #1057
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Исправил ссылку на схему в Readme
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

удалил лишний абзац
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

исправил опечатку
  tests/smoke/Smoke_InputBasedOn/Smoke_InputBasedOn/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

улучшена производительность
  plugins/РегулярныеВыражения/РегулярныеВыражения/Ext/ObjectModule.bsl
  plugins/РегулярныеВыражения/РегулярныеВыражения/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Исправление Ошибка в режиме совместимости #1056 (#1059)
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Ошибка с НаправлениеПереходаКСтроке в тестах командного интерфейса
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure
