Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml

Добавлена передача контекста ядра в тестовый метод общего модуля
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Исправлена передача мутабельного значения на сервер
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Добавлено получение списка тестов по всем метаданным конфигурации
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Исправлено форматирование кода
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Изменено --ibname на --ibconnection vrunner compileepf
  tasks/init.os
Due: none

случайно попало изменение из другого ПР
  doc/xdd/ЗапросыИзБД.MD
Due: none

Простой чек-лист использования
  .github/CONTRIBUTING.md
Due: none

Уточнил про необходимость тестов
  .github/CONTRIBUTING.md
Due: none

Убрана зависимость от opm
  packagedef
Due: none

Использование шаблонов поиска для исключений дымовых тестов
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Выделение важной строки для ввода на основании
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Избавился от лишних добавленных пробелов
  tasks/init.os
Due: none

Исправление ошибки "Запрещено одновременно задавать ключи --ibconnection и --ibname" (#875)
  tasks/init.os
Due: none

Оглавление и форматирование
  doc/xdd/ЗапросыИзБД.MD
Due: none

Добавлена документация к плагину "ЗапросыИзБД" (#872)
  doc/xdd/ЗапросыИзБД.MD
Due: none

мелкие улучшения читаемости (#862)
  doc/README.md
Due: none

формат 8.3.10
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения.xml
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма.xml
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Lj,
  .github/ISSUE_TEMPLATE.md
Due: none

Вместо текст комментария
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Вместо текста комментарии
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Вместо текста комментарии
  .github/ISSUE_TEMPLATE/help_request.md
Due: none

еще исправления из-за новой сигнатуры
  plugins/LoadSettings/LoadSettings/Forms/Форма/Ext/Form/Module.bsl
  plugins/Аллюр2Отчет/Аллюр2Отчет/Forms/Форма/Ext/Form/Module.bsl
  plugins/ВременныеФайлы/ВременныеФайлы/Forms/Форма/Ext/Form/Module.bsl
  plugins/ВыводВЛогФайл/ВыводВЛогФайл/Forms/Форма/Ext/Form/Module.bsl
  plugins/ГенераторОтчетаAllureXML/ГенераторОтчетаAllureXML/Forms/Форма/Ext/Form/Module.bsl
  plugins/ГенераторОтчетаAllureXMLВерсия2/ГенераторОтчетаAllureXMLВерсия2/Forms/Форма/Ext/Form/Module.bsl
  plugins/ГенераторОтчетаJUnitXML/ГенераторОтчетаJUnitXML/Forms/Форма/Ext/Form/Module.bsl
  plugins/ГенераторОтчетаJUnitXML_TFS/ГенераторОтчетаJUnitXML_TFS/Forms/Форма/Ext/Form/Module.bsl
  plugins/ГенераторОтчетаMXL/ГенераторОтчетаMXL/Forms/Форма/Ext/Form/Module.bsl
  plugins/ГенерацияКодаВозврата/ГенерацияКодаВозврата/Forms/Форма/Ext/Form/Module.bsl
  plugins/Данные/Данные/Forms/Форма/Ext/Form/Module.bsl
  plugins/ДвиженияДокумента/ДвиженияДокумента/Forms/Форма/Ext/Form/Module.bsl
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ЗагрузчикКаталога/ЗагрузчикКаталога/Forms/Форма/Ext/Form/Module.bsl
  plugins/ЗагрузчикПользовательскихНастроек/ЗагрузчикПользовательскихНастроек/Forms/Форма/Ext/Form/Module.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Forms/Форма/Ext/Form/Module.bsl
  plugins/ЗапросыИзБД/ЗапросыИзБД/Forms/Форма/Ext/Form/Module.bsl
  plugins/ЗапускТестовДляПользователей/ЗапускТестовДляПользователей/Forms/Форма/Ext/Form/Module.bsl
  plugins/Информатор/Информатор/Forms/Форма/Ext/Form/Module.bsl
  plugins/ИтераторМетаданных/ИтераторМетаданных/Forms/Форма/Ext/Form/Module.bsl
  plugins/КомандныйФайл/КомандныйФайл/Forms/Форма/Ext/Form/Module.bsl
  plugins/ПарсерКоманднойСтроки/ПарсерКоманднойСтроки/Forms/Форма/Ext/Form/Module.bsl
  plugins/ПеременныеОкружения/ПеременныеОкружения/Forms/Форма/Ext/Form/Module.bsl
  plugins/Пользователи/Пользователи/Forms/Форма/Ext/Form/Module.bsl
  plugins/ПостроительДереваТестов/ПостроительДереваТестов/Forms/Форма/Ext/Form/Module.bsl
  plugins/ПроверкаОрфографии/ПроверкаОрфографии/Forms/Форма/Ext/Form/Module.bsl
  plugins/РегулярныеВыражения/РегулярныеВыражения/Forms/Форма/Ext/Form/Module.bsl
  plugins/СтроковыеУтилиты/СтроковыеУтилиты/Forms/Форма/Ext/Form/Module.bsl
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  plugins/УправлениеПриложениями/УправлениеПриложениями/Forms/Форма/Ext/Form/Module.bsl
  plugins/УтвержденияBDD/УтвержденияBDD/Forms/Форма/Ext/Form/Module.bsl
  plugins/УтвержденияПроверкаТаблиц/УтвержденияПроверкаТаблиц/Forms/Форма/Ext/Form/Module.bsl
  plugins/Файлы/Файлы/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

новые экспортные методы
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

еще исправления из-за новой сигнатуры
  doc/PluginsTemplates/ШаблонГенератораОтчета/ШаблонГенератораОтчета/Forms/Форма/Ext/Form/Module.bsl
  doc/PluginsTemplates/ШаблонЗагрузчика/ШаблонЗагрузчика/Ext/ObjectModule.bsl
  doc/PluginsTemplates/ШаблонЗагрузчика/ШаблонЗагрузчика/Forms/Форма/Ext/Form/Module.bsl
  doc/PluginsTemplates/ШаблонУтилиты/ШаблонУтилиты/Ext/ObjectModule.bsl
  doc/PluginsTemplates/ШаблонУтилиты/ШаблонУтилиты/Forms/Форма/Ext/Form/Module.bsl
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  epf/bddRunner/bddRunner/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Данные/step_definitions/ИнформаторШаги/ИнформаторШаги/Ext/ObjectModule.bsl
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/СтроковыеУтилиты/Ext/ObjectModule.bsl
  lib/cfe/ОткрытиеВнешнихФайлов/DataProcessors/СтроковыеУтилиты/Forms/Форма/Ext/Form/Module.bsl
  plugins/БазовыеУтверждения/БазовыеУтверждения/Forms/Форма/Ext/Form/Module.bsl
  plugins/Настройки/Настройки/Forms/Форма/Ext/Form/Module.bsl
  plugins/СериализаторMXL/СериализаторMXL/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tests/xunit/Core/Тесты_СистемаПлагинов/Тесты_СистемаПлагинов/Ext/ObjectModule.bsl
  tests/xunit/Core/Тесты_СистемаПлагинов/Тесты_СистемаПлагинов/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

bdd новые экспортные методы
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

внесенная рантайм-ошибка
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Показ списка активных расширений
  plugins/Информатор/Информатор/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Тестовое расширение ТестЗагрузкиТестовИзРасширения
  lib/cfe/ТестЗагрузкиТестовИзРасширения/CommonModules/ТестовыйМодуль.xml
  lib/cfe/ТестЗагрузкиТестовИзРасширения/CommonModules/ТестовыйМодуль/Ext/Module.bsl
  lib/cfe/ТестЗагрузкиТестовИзРасширения/Configuration.xml
  lib/cfe/ТестЗагрузкиТестовИзРасширения/Languages/Русский.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

Использование шаблонов поиска для исключений дымовых тестов (#877)
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

поиск исключений по шаблону с *
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

оптимизация обращения к контексту ядра
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

файл настройки для теста
  spec/fixtures/smoke.json
Due: none

ЕстьВИсключаемойКоллекции научился принимать списокЗначений
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

метод Плагин используется на сервере
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Update Статьи-и-видео-по-тестированию-в-1С.MD
  doc/xdd/Статьи-и-видео-по-тестированию-в-1С.MD
Due: none

Для общих модулей с тестами метод API "Инициализация" сделан необязательным
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Исправлено получение представления ошибки
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure
