Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml

Переходить к следующей таблице, если из этой нового окна нету
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Передавать адрес хранилища из формы напрямую
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

*в обработке ПроверкаЧтенияНеАдминистраторами не проверялись обработки
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Новый репортер ГенераторОтчетаJSON
  plugins/ГенераторОтчетаJSON/ГенераторОтчетаJSON.xml
  plugins/ГенераторОтчетаJSON/ГенераторОтчетаJSON/Ext/ObjectModule.bsl
  plugins/ГенераторОтчетаJSON/ГенераторОтчетаJSON/Forms/Форма.xml
  plugins/ГенераторОтчетаJSON/ГенераторОтчетаJSON/Forms/Форма/Ext/Form.xml
  plugins/ГенераторОтчетаJSON/ГенераторОтчетаJSON/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исправлена внесенная ошибка открытия в обычном приложении
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

настройка ИсключатьПропускаемыеТестыИзСписка
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  epf/xddTestRunner/xddTestRunner/Forms/Форма/Ext/Form.bin
  epf/xddTestRunner/xddTestRunner/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

ОФ: исключаемые формы не показываются в списке тестов
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

включил настройку ИсключатьПропускаемыеТестыИзСписка
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Можно исключить весь регистр из проверки движений проведения
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Забытый реквизит фреймворка
  epf/xddTestRunner/xddTestRunner.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

ОФ: тесты открытия форм используют настройку ПроверятьТолькоИзбранные
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

новые настройки проведения документов
  spec/fixtures/smoke-include.json
  tests/smoke/readme.md
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ПроведениеДокументов/тесты_ПроведениеДокументов/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

новые настройки проведения документов - ПроверятьТолькоИзбранные и ТолькоПроводим (#1113)
  spec/fixtures/smoke-include.json
  tests/smoke/readme.md
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ПроведениеДокументов/тесты_ПроведениеДокументов/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

snapshot версии 6.9.5
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  lib/CF/82/Configuration.xml
  lib/CF/83/Configuration.xml
  lib/CF/83NoSync/Configuration.xml
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
  lib/cfe/ВыполнениеСерверногоКодаВТестах_VanessaADD/Configuration.xml
  lib/cfe/МокТестирование/Configuration.xml
  lib/cfe/ОткрытиеВнешнихФайлов/Configuration.xml
  lib/cfe/ТестЗагрузкиТестовИзРасширения/Configuration.xml
  lib/cfe/ТестМоков/Configuration.xml
  packagedef
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Подготовка Shapshot 695 - НЕ МЕРЖИТЬ (#1114)
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  lib/CF/82/Configuration.xml
  lib/CF/83/Configuration.xml
  lib/CF/83NoSync/Configuration.xml
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
  lib/cfe/ВыполнениеСерверногоКодаВТестах_VanessaADD/Configuration.xml
  lib/cfe/МокТестирование/Configuration.xml
  lib/cfe/ОткрытиеВнешнихФайлов/Configuration.xml
  lib/cfe/ТестЗагрузкиТестовИзРасширения/Configuration.xml
  lib/cfe/ТестМоков/Configuration.xml
  packagedef
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

неверная версия хмл
  epf/xddTestRunner/xddTestRunner.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

ОФ: Тесты печатных форм для УПП 1.3
  tests/smoke-for-ordinary-app/Тесты_ПечатныеФормыУПП/Тесты_ПечатныеФормыУПП.xml
  tests/smoke-for-ordinary-app/Тесты_ПечатныеФормыУПП/Тесты_ПечатныеФормыУПП/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

документировал тесты
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Update KNOWN-PROBLEMS.md
  doc/KNOWN-PROBLEMS.md
Due: none

Проверять окна после окончания редактирования строки
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Перенести перехват исключения в загрузчик файла
  plugins/ЗагрузчикКаталога/ЗагрузчикКаталога/Forms/Форма/Ext/Form/Module.bsl
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Исключить передачу адреса временного хранилища между сеансами
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Исправлена ошибка загрузки тестов из расширения (модули объектов)
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Исправлена загрузка тестов из расширения (клиентские общие модули)
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Bug Загрузка тестов из расширения #1116 (#1117)
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Переделан тест тесты_ЗаписьЭлементовСправочников
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников.xml
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Ext/ObjectModule.bsl
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Forms/Форма.xml
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Forms/Форма/Ext/Form.xml
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

добавил исключение по объектам без форм
  tests/smoke/readme.md
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Переделан тест тесты_ЗаписьГруппСправочников
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников.xml
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников/Ext/ObjectModule.bsl
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников/Forms/Форма.xml
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников/Forms/Форма/Ext/Form.xml
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Переделан тест ПроверкаЧтенияНеАдминистраторами
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами.xml
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Ext/ObjectModule.bsl
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Forms/Форма.xml
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Forms/Форма/Ext/Form.xml
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Переделан тест тесты_ФормированиеПечтаныхФорм
  tests/smoke/readme.md
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм.xml
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Ext/ObjectModule.bsl
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Forms/Форма.xml
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Forms/Форма/Ext/Form.xml
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure
