Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Проверка окружения:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  tags:
  - vanessa-add
  script:
  - chcp 65001
  - set PATH
  - set
  - where oscript
  - oscript -version
  - where opm
  - call opm version
  - call opm list
  - where vrunner
  - call vrunner version

Восстановление epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: fetch
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy %EPF_CACHE_PATH% . *.epf cache.json /S /XA:H /NP /UNICODE & dir *.yml & echo success!"
  ...

Сборка файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: false
  script:
  - chcp 65001
  - opm run init file --v8version 8.3.10
  artifacts:
    paths:
    - .\build\ib\1Cv8.1CD
  tags:
  - vanessa-add

Сохранение epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy . %EPF_CACHE_PATH% *.epf cache.json /MIR /XA:H /NP /UNICODE" & dir *.yml & echo success"
  when: always
  tags:
  - vanessa-add

Сборка пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - opm build .
  artifacts:
    paths:
    - .\add-*.zip
    - .\add-*.ospx
  tags:
  - vanessa-add

Сохранение epf-файлов для сборки пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy .\.forbuild %EPF_CACHE_PATH%\.forbuild *.* /MIR /XA:H /NP /UNICODE" & dir *.yml & echo success"
  ...

Модульные тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-tdd/junit-tdd.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-tdd/allure.xml}"
  artifacts:
    when: always
    paths:
  ...

Дымовые тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests/smoke %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-smoke/junit-smoke.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-smoke/allure.xml}"
  artifacts:
    when: always
  ...

BDD тестирование (библиотеки):
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - vrunner vanessa %CI_VRUNNER_SETTINGS% --path features/libraries
  artifacts:
    when: always
    paths:
    - ServiceBases/junitreport/*.xml
    - ServiceBases/allurereport/*.*
    reports:
      junit:
  ...

Allure:
  stage: Allure
  variables:
    GIT_STRATEGY: none
  when: always
  allow_failure: true
  script:
  - call allure generate build/allure-tdd build/allure-smoke ServiceBases/allurereport -c -o build/allure-result
  - echo Allure results - %CI_JOB_URL%/artifacts/file/build/allure-result/index.html
  artifacts:
  ...

вернул как было
  plugins/СериализаторMXL/СериализаторMXL/Forms/Форма/Ext/Form/form
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Базовые тесты Создателя данных
  plugins/Данные/Данные.xml
  plugins/Данные/Данные/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_Создатель/Тесты_Создатель.xml
  tests/xunit/Plugins/Тесты_Создатель/Тесты_Создатель/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Метод "Метод" принимает параметры Строки\Числа
  plugins/УтвержденияBDD/УтвержденияBDD/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_УтвержденияBDD/Тесты_УтвержденияBDD/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Автоустановка тега BUG
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Реализация сложного теста
  tests/xunit/Plugins/Тесты_Создатель/Тесты_Создатель/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

путь могут быть в разном формате
  tests/xunit/Plugins/Тесты_Создатель/Тесты_Создатель/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

доп.методы АПИ создателя
  tests/xunit/Plugins/Тесты_Создатель/Тесты_Создатель/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

fix Тесты_ПроверкаИндексированияУстаревшихОбъектовМетаданных
  tests/smoke/Тесты_ПроверкаИндексированияУстаревшихОбъектовМетаданных/Тесты_ПроверкаИндексированияУстаревшихОбъектовМетаданных.xml
  tests/smoke/Тесты_ПроверкаИндексированияУстаревшихОбъектовМетаданных/Тесты_ПроверкаИндексированияУстаревшихОбъектовМетаданных/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Сделал группы элементов на основной форме сворачиваемыми (#829)
  plugins/СериализаторMXL/СериализаторMXL/Forms/УправляемаяФорма/Ext/Form.xml
  plugins/СериализаторMXL/СериализаторMXL/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

фабрика создателей
  plugins/ФабрикаСоздателей/ФабрикаСоздателей.xml
  plugins/ФабрикаСоздателей/ФабрикаСоздателей/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_Создатель/Тесты_Создатель/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

расширение СоздателиТестовыхДанных
  lib/cfe/СоздателиТестовыхДанных/CommonModules/Тест_СозданиеДанных.xml
  lib/cfe/СоздателиТестовыхДанных/CommonModules/Тест_СозданиеДанных/Ext/Module.bsl
  lib/cfe/СоздателиТестовыхДанных/Configuration.xml
  lib/cfe/СоздателиТестовыхДанных/Documents/ДокументСДвижениями.xml
  lib/cfe/СоздателиТестовыхДанных/Documents/ДокументСДвижениями/Ext/ManagerModule.bsl
  lib/cfe/СоздателиТестовыхДанных/Languages/Русский.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

Плагин Создатель_ДокументСДвижениями
  plugins/creators/Создатель_ДокументСДвижениями/Создатель_ДокументСДвижениями.xml
  plugins/creators/Создатель_ДокументСДвижениями/Создатель_ДокументСДвижениями/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

доработки ФабрикаСоздателей
  plugins/ФабрикаСоздателей/ФабрикаСоздателей.xml
  plugins/ФабрикаСоздателей/ФабрикаСоздателей/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

тест тестМоков
  tests/xunit/Plugins/Тесты_Создатель/Тесты_Создатель/Ext/ObjectModule.bsl
  tests/xunit/mok/тестМоков/тестМоков.xml
  tests/xunit/mok/тестМоков/тестМоков/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

спец.загрузка плагинов-создателей
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

упростил получение представления ошибок
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Revert "упростил получение представления ошибок"
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Плагин УтвержденияBDD - Метод "Метод" принимает параметры Строки\Числа в дополнении к массиву (#835)
  plugins/УтвержденияBDD/УтвержденияBDD/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_УтвержденияBDD/Тесты_УтвержденияBDD/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

упростил получение представления ошибок
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Расширение для мок-тестирования
  lib/cfe/МокТестирование/CommonModules/МокТестирование.xml
  lib/cfe/МокТестирование/CommonModules/МокТестирование/Ext/Module.bsl
  lib/cfe/МокТестирование/Configuration.xml
  lib/cfe/МокТестирование/DataProcessors/МокТестирование.xml
  lib/cfe/МокТестирование/DataProcessors/МокТестирование/Ext/ObjectModule.bsl
  lib/cfe/МокТестирование/Languages/Русский.xml
  lib/cfe/ТестМоков/Catalogs/ПростойСправочник.xml
  lib/cfe/ТестМоков/Catalogs/ПростойСправочник/Ext/ManagerModule.bsl
  lib/cfe/ТестМоков/Catalogs/ПростойСправочник/Ext/ObjectModule.bsl
  lib/cfe/ТестМоков/Configuration.xml
  lib/cfe/ТестМоков/Languages/Русский.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

режим совместимости конфигурации поднят до 8.3.9
  lib/CF/83xddNoSync/Configuration.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

Плагин Данные поддерживает стандартные реквизиты
  plugins/Данные/Данные/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

тесты проверки моков
  tests/xunit/mock/тестМоков/тестМоков.xml
  tests/xunit/mock/тестМоков/тестМоков/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

доп.шаблоны для автопрохождения модальных окон
  tests/smoke/smoke.bsp.json
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix Оптимизация клиент-сервер
  plugins/УтвержденияBDD/УтвержденияBDD/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix Оптимизация получения окна предупреждения add Проверка что появилось окно предупреждения с текстом
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix тесты_КомандныйИнтерфейс
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

add Пустая строка в конце модуля
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix Поиск ТекстИсключенияДляПроверки
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Доработка теста КомандныйИнтерфейс (#839)
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  plugins/УтвержденияBDD/УтвержденияBDD/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

добавил параметр ИспользоватьПрямыеПути
  epf/bddRunner/bddRunner.xml
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/LoadSettings/LoadSettings/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

привел в порядок API плагина
  doc/xdd/Базовые-утверждения.MD
Due: none

убрал из описания удаленный метод
  doc/xdd/Базовые-утверждения.MD
Due: none

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
