Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml

refactor: учтены замечания @artbear
  doc/xdd/Создание-файлов-тестов.MD
Due: none

add Тесты_ПереходНаУправляемыеФормы
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Ext/ObjectModule.bsl
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

TDD дополнена и уточнена документация "Создание файлов-тестов" (#813)
  doc/xdd/Создание-файлов-тестов.MD
Due: none

добавил области + замечания Сонара
  plugins/Настройки/Настройки/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix Префикс ИмяТеста
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

add Тесты_ПроверкаПериодичностиНумерацииДокументов
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов.xml
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Ext/ObjectModule.bsl
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма.xml
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма/Ext/Form.xml
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный.xml
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

add Тесты_ПроверкаПериодичностиНумерацииДокументов (#815)
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов.xml
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Ext/ObjectModule.bsl
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма.xml
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма/Ext/Form.xml
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix xUnitParams
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix ВыполнятьТест
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix ВыполнятьТест
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Исправлено экранирование команды в Windows
  plugins/УправлениеПриложениями/УправлениеПриложениями/Ext/ObjectModule.bsl
  plugins/УправлениеПриложениями/УправлениеПриложениями/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

add new smoketest Тесты_ПереходНаУправляемыеФормы (#814)
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Ext/ObjectModule.bsl
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form.xml
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix Проверки типов реквизитов
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix xUnitParams 2
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix smoketest Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный (#816)
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный.xml
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

feature: сохранение и чтение глобального клиентского контекста
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

tests: тесты глобального клиентского контекста
  tests/xunit/Core/Тесты_ВыполнениеТестов/Тесты_ВыполнениеТестов/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

doc: документация глобального клиентского контекста
  doc/xdd/Создание-файлов-тестов.MD
Due: none

Уточнил определение пакетного запуска
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Уточнил определение пакетного запуска
  epf/xddTestRunner/xddTestRunner/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

удалил ненужные комментарии
  plugins/ЗапросыИзБД/ЗапросыИзБД/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Отключение тестов открытия форм через настройки
  tests/smoke/smoke.example.json
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

+ пара дымовых тестов может отключаться в настройках
  tests/smoke/Smoke_InputBasedOn/Smoke_InputBasedOn/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Tests_SmokeCommonModules/Tests_SmokeCommonModules/Forms/Form/Ext/Form/Module.bsl
  tests/smoke/smoke.example.json
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

документировал ключ Используется
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Всегда возвращается новый объект
  plugins/Данные/Данные/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_Данные/Тесты_Данные/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Проверка несуществующих реквизитов
  plugins/Данные/Данные/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_Данные/Тесты_Данные/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

feature: уточнения по рекомендациям @artbear
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

doc: уточнена документация
  doc/xdd/Создание-файлов-тестов.MD
Due: none

tests: Уточнены тесты
  tests/xunit/Core/Тесты_ВыполнениеТестов/Тесты_ВыполнениеТестов/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

Сделал группы элементов на основной форме сворачиваемыми
  plugins/СериализаторMXL/СериализаторMXL/Forms/УправляемаяФорма/Ext/Form.xml
  plugins/СериализаторMXL/СериализаторMXL/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/СериализаторMXL/СериализаторMXL/Forms/Форма/Ext/Form.bin
  plugins/СериализаторMXL/СериализаторMXL/Forms/Форма/Ext/Form/Module.bsl
  plugins/СериализаторMXL/СериализаторMXL/Forms/Форма/Ext/Form/form
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix ПодробноеПредставлениеОшибки
  epf/xddTestRunner/xddTestRunner.xml
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix ВыводитьПодробноеПредставлениеОшибки
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

xddTestRunner fix ПодробноеПредставлениеОшибки (#833)
  epf/xddTestRunner/xddTestRunner.xml
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

refactor: учтены замечания @artbear
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

вернул как было
  plugins/СериализаторMXL/СериализаторMXL/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

убрал лишние пустые строки
  plugins/СериализаторMXL/СериализаторMXL/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

вернул как было
  plugins/СериализаторMXL/СериализаторMXL/Forms/Форма/Ext/Form.bin
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure
