Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml

fix #997, #998
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников/Ext/ObjectModule.bsl
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

исправления (#1007 #1006 #1005)
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Реализация #1003. https://t.me/vanessa_opensource_chat/4837
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

правки #1008 #924
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

оптимизация + переделал алгоритм по #992
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

фикс опечатки #1005
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

багфикс
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

ИдентифицироватьОкноПредупреждение вынес за приделы попытки, что б не терялся текст ошибки
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

в функции ПолучитьКомандныйИнтерфейс сделал нормальную паузу #1003
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

удален пустой модуль по замечаниям сонара
  tests/smoke/Тесты_ЕстьПравоНаЧтениеПерекрывающееПравоRLS/Тесты_ЕстьПравоНаЧтениеПерекрывающееПравоRLS/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Изменен алгоритм отбора по префиксу и подсистеме (подсистемы можно указывать массивом) #924
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

отточка сценариев теста тесты_КомандныйИнтерфейс
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

допустил ошибку в пред. коммите
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Вернул теги
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

добавлена возможность удалять настройку (#996)
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form.xml
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

фикс #993
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

тесты запуска тестирования в пакетном режиме
  features/1bdd/Запуск тестов.feature
  tests/fixtures/README.md
  tests/fixtures/cf/Catalogs/Справочник1.xml
  tests/fixtures/cf/Catalogs/Справочник1/Ext/ObjectModule.bsl
  tests/fixtures/cf/Catalogs/Справочник1/Forms/УпрФормаСписка.xml
  tests/fixtures/cf/Catalogs/Справочник1/Forms/УпрФормаСписка/Ext/Form.xml
  tests/fixtures/cf/Catalogs/Справочник1/Forms/УпрФормаСписка/Ext/Form/Module.bsl
  tests/fixtures/cf/Catalogs/Справочник1/Forms/ФормаСписка.xml
  tests/fixtures/cf/Catalogs/Справочник1/Forms/ФормаСписка/Ext/Form.bin
  tests/fixtures/cf/Configuration.xml
  tests/fixtures/cf/Ext/ManagedApplicationModule.bsl
  tests/fixtures/cf/Ext/OrdinaryApplicationModule.bsl
  tests/fixtures/cf/Languages/Русский.xml
  tests/fixtures/cf/Roles/ПолныеПрава.xml
  tests/fixtures/cf/Roles/ПолныеПрава/Ext/Rights.xml
  tests/fixtures/feature/vb-conf.json
  tests/fixtures/fixture-epf/fixture/Тест1.xml
  tests/fixtures/fixture-epf/fixture/Тест1/Ext/ObjectModule.bsl
  tests/fixtures/fixture-epf/fixture/Тест1/Forms/Форма.xml
  tests/fixtures/fixture-epf/fixture/Тест1/Forms/Форма/Ext/Form.xml
  tests/fixtures/fixture-epf/fixture/Тест1/Forms/Форма1.xml
  tests/fixtures/fixture-epf/fixture/Тест1/Forms/Форма1/Ext/Form.bin
  tests/fixtures/fixture-epf/fixture/Тест1/Forms/Форма1/Ext/Form/Module.bsl
  tests/fixtures/fixture-epf/fixture/Тест1/Forms/Форма1/Ext/Form/form
  tests/fixtures/xUnitParams.json
  tests/fixtures/xdd_test/xdd_test.xml
  tests/fixtures/xdd_test/xdd_test/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

зависимости разработки
  packagedef
Due: none

Пропуск тестов без их выполнения
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  features/1bdd/Запуск тестов.feature
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Ext/ObjectModule.bsl
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Ext/ObjectModule.bsl
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Forms/Форма/Ext/Form/Module.bsl
  plugins/ПостроительДереваТестов/ПостроительДереваТестов/Ext/ObjectModule.bsl
  plugins/ПостроительДереваТестов/ПостроительДереваТестов/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Пропуск тестов без их выполнения в ОФ
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

восстановил временно отключенные сценарии
  features/1bdd/Запуск тестов.feature
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, BDD тестирование (библиотеки), Allure

ошибочное двойное добавление пропускаемых тестов
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Ext/ObjectModule.bsl
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Ext/ObjectModule.bsl
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

проверка файла настроек не работает в асинхронном режиме
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Ошибка работы в асинхронном режиме
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

ускорение проверки окон с ошибками
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

опечатки, замечания Сонара, неиспользуемые методы
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Ошибка чтения настроек в интерактиве
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/Настройки/Настройки/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

ускорение для теста открытия форм
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

исправление https://t.me/vanessa_opensource_chat/5356
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исключил ошибки настройки модальных окон
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Добавлены регистры сведений.
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure
