Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Проверка окружения:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  tags:
  - vanessa-add
  script:
  - chcp 65001
  - set PATH
  - set
  - where oscript
  - oscript -version
  - where opm
  - call opm version
  - call opm list
  - where vrunner
  - call vrunner version

Восстановление epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: fetch
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy %EPF_CACHE_PATH% . *.epf cache.json /S /XA:H /NP /XD .git /UNICODE & dir *.yml & echo success!"
  ...

Сборка файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: false
  script:
  - chcp 65001
  - opm run init file --v8version 8.3.10
  artifacts:
    name: '%CI_JOB_STAGE%-%CI_COMMIT_REF_NAME%-ib'
    paths:
    - .\build\ib\1Cv8.1CD
    - .\build\ibservicexdd\1Cv8.1CD
    - .\build\ibservice\1Cv8.1CD
  tags:
  ...

Сохранение epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy . %EPF_CACHE_PATH% *.epf cache.json /MIR /XA:H /NP /XD .git /UNICODE" & dir *.yml & echo success"
  when: always
  tags:
  - vanessa-add

Сборка пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - opm build .
  artifacts:
    name: '%CI_JOB_STAGE%-%CI_COMMIT_REF_NAME%-opm-build'
    paths:
    - .\add-*.zip
    - .\add-*.ospx
  tags:
  - vanessa-add

Сохранение epf-файлов для сборки пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy .\.forbuild %EPF_CACHE_PATH%\.forbuild *.* /MIR /XA:H /NP /XD .git /UNICODE" & dir *.yml & echo success"
  ...

Модульные тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests/xunit %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-tdd/junit-tdd.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-tdd/allure.xml}"
  artifacts:
  ...

Дымовые тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests/smoke %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-smoke/junit-smoke.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-smoke/allure.xml}"
  artifacts:
    when: always
  ...

BDD тестирование (библиотеки):
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - vrunner vanessa %CI_VRUNNER_SETTINGS% --path features/libraries
  artifacts:
    when: always
    name: '%CI_JOB_STAGE%-%CI_COMMIT_REF_NAME%-bdd-libs'
    paths:
    - ServiceBases/junitreport/*.xml
  ...

Allure:
  stage: Allure
  variables:
    GIT_STRATEGY: none
  when: always
  allow_failure: true
  script:
  - call allure generate build/allure-tdd build/allure-smoke ServiceBases/allurereport -c -o build/allure-result
  - echo Allure results - %CI_JOB_URL%/artifacts/file/build/allure-result/index.html
  artifacts:
  ...

номер версии 6.9.2
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

номер версии 6.9.2
  packagedef
Due: none

Добавлена поддержка значений с типом ТаблицаЗначений в серверный ИмеетДлину. Исправлена опечатка. Мелкие правки форматирования кода.
  plugins/УтвержденияBDD/УтвержденияBDD/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исправлена внесенная ошибка
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

улучшено создание плагинов\внешних файлов
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

ускорение клиент-серверного общения загрузки файлов
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

значительное ускорение дымовых тестов в режиме тест-менеджер
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

6.9.3
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  packagedef
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Версия 6.9.3
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  lib/CF/82/Configuration.xml
  lib/CF/83/Configuration.xml
  lib/CF/83NoSync/Configuration.xml
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
  lib/cfe/ВыполнениеСерверногоКодаВТестах_VanessaADD/Configuration.xml
  lib/cfe/МокТестирование/Configuration.xml
  lib/cfe/ОткрытиеВнешнихФайлов/Configuration.xml
  lib/cfe/ТестЗагрузкиТестовИзРасширения/Configuration.xml
  lib/cfe/ТестМоков/Configuration.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

Версия 6.9.3 +изменена дока по выпуску релиза
  lib/CF/83/Configuration.xml
  lib/CF/83NoSync/Configuration.xml
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
  plugins/СериализаторMXL/СериализаторMXL/Ext/ObjectModule.bsl
  releaseCheck.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

не закрывались окна, которые открывались после закрытия предыдущих окон
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

версия 6.9.4
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  lib/CF/82/Configuration.xml
  lib/CF/83/Configuration.xml
  lib/CF/83NoSync/Configuration.xml
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
  lib/cfe/ВыполнениеСерверногоКодаВТестах_VanessaADD/Configuration.xml
  lib/cfe/МокТестирование/Configuration.xml
  lib/cfe/ОткрытиеВнешнихФайлов/Configuration.xml
  lib/cfe/ТестЗагрузкиТестовИзРасширения/Configuration.xml
  lib/cfe/ТестМоков/Configuration.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

версия 6.9.4
  packagedef
Due: none

Доп.проверка создания объектов
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

* исправление ошибки поиска таблицы на форме, когда форма еще не загрузилась до конца http://joxi.ru/p273epOIZge4X2 ошибка в аллюре http://joxi.ru/Drl9PxNudOaXWm
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс.xml
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

исправление ошибки поиска таблицы на форме, когда форма еще не загрузилась до конца http://joxi.ru/p273epOIZge4X2 ошибка в аллюре http://joxi.ru/Drl9PxNudOaXWm
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс.xml
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

исправил значение таймаута по умолчанию на 0
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

добавлено описание параметра
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

исправление ошибки в тесте командного интерфейса (#1084)
  tests/smoke/readme.md
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс.xml
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Добавлена возможность в настройках исключения из проверки движений исключить целый регистр, указав просто пустой массив, например "ЦеныНоменклатуры":[]
  tests/smoke/тесты_ПроведениеДокументов/тесты_ПроведениеДокументов/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Изменены значения по умолчанию для запуска из командной строки.
  plugins/LoadSettings/LoadSettings/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Добавление библиотеки шагов проекта в список библиотек по умолчанию
  plugins/LoadSettings/LoadSettings/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Рефакторинг получения настроек по умолчению
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/LoadSettings/LoadSettings/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Добавлена настройка включения в проверку объектов метаданных по префиксу имени
  tests/smoke/smoke.example.json
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаления/Тесты_ПроверкаПраваИнтерактивногоУдаления/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Переработана настройка исключения из проверки объектов метаданных
  tests/smoke/smoke.example.json
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаленияПомеченных/Тесты_ПроверкаПраваИнтерактивногоУдаленияПомеченных/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

another fix
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Полная информация об исключении при загрузке файлов с дымовыми тестами
  plugins/ЗагрузчикКаталога/ЗагрузчикКаталога/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Исправление ошибки, когда переменная ИгнорируемыйМассивТекстовИсключений не заполнена (#1094)
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Изменена формулировка сообщения о настройках по умолчанию
  plugins/LoadSettings/LoadSettings/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Изменены значения по умолчанию для запуска из командной строки. (#1090)
  plugins/LoadSettings/LoadSettings/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Уже нужно юзать простое СтрШаблон вместо КонтекстЯдра.СтрШаблон_
  plugins/ЗагрузчикКаталога/ЗагрузчикКаталога/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Попытка закрыть модальное окно, чтобы не блокировать следующие тесты
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
