Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml

Revert
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

сделано, что б при поиске занятых портов в линукс выводился пид процесса который занял порт
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

переименовал функцию + убрал УдалитьФайлы
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

убрано удаление файла и обработка ошибки его открытия
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

удаление файла убрано
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

поправил документацию
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

доработки теста ПроверкаЧтенияНеАдминистраторами
  tests/smoke/readme.md
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

установил номер версии
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  lib/CF/83/Configuration.xml
  lib/CF/83NoSync/Configuration.xml
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
  lib/cfe/ВыполнениеСерверногоКодаВТестах_VanessaADD/Configuration.xml
  lib/cfe/МокТестирование/Configuration.xml
  lib/cfe/ОткрытиеВнешнихФайлов/Configuration.xml
  lib/cfe/ТестМоков/Configuration.xml
  packagedef
  plugins/СериализаторMXL/СериализаторMXL/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

дополнил пунктами про расширение
  releaseCheck.md
Due: none

исправлено #932
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

унификация записи в ЖР из тестов
  tests/smoke/ПроверкаРежимаБлокировки/ПроверкаРежимаБлокировки/Ext/ObjectModule.bsl
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Ext/ObjectModule.bsl
  tests/smoke/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаМакетовСКДВнешнихОтчетовОбработок/Тесты_ПроверкаМакетовСКДВнешнихОтчетовОбработок/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаОбщихРеквизитов/Тесты_ПроверкаОбщихРеквизитов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Ext/ObjectModule.bsl
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix: Исправление метода ПодходящийРежимСовместимостиПлатформы, если установлен режим совместимости "НеИспользовать"
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

убрал нелогичный код
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

забыл кой че
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

устранены замечания #941
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/СтроковыеУтилиты/СтроковыеУтилиты/Ext/ObjectModule.bsl
  plugins/СтроковыеУтилиты/СтроковыеУтилиты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

расширено логирование, сделана возможность исключать из тестов конкретные команды объектов
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс.xml
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Templates/СкринОшибки_png.xml
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Templates/СкринОшибки_png/Ext/Template.bin
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

убран вызов ЗакрытьВсеОткрытыеОкна (т.к. он вызывается из ИдентифицироватьОкноПредупреждение), расширено логирование
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации.xml
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Templates/СкринОшибки_png.xml
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Templates/СкринОшибки_png/Ext/Template.bin
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Переписан код работы с модальными окнами (попутно исправлены различные ошибки)
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

удалил неиспользуемые функции
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

MetaDataObject version="2.4"
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс.xml
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

убран макет
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс.xml
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Templates/СкринОшибки_png.xml
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Templates/СкринОшибки_png/Ext/Template.bin
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

удалил макет
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации.xml
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Templates/СкринОшибки_png.xml
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Templates/СкринОшибки_png/Ext/Template.bin
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

вергнул версию 2.4
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

удалил ВыполнитьЗаписьВЖурналРегистрацииСервер (не используется)
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

откатил УдалитьСозданныеОбъекты
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Update readme.md
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

замечания
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/СтроковыеУтилиты/СтроковыеУтилиты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

замечания (забыл про модуль объекта)
  plugins/СтроковыеУтилиты/СтроковыеУтилиты/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Новые методы ПредставлениеКоллекции в плагине СтроковыеУтилиты (#941)
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/СтроковыеУтилиты/СтроковыеУтилиты/Ext/ObjectModule.bsl
  plugins/СтроковыеУтилиты/СтроковыеУтилиты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Доработки теста Тесты_ПроверкаПравНаЧтениеОбъектовRLS
  tests/smoke/smoke_tests_for_v8std.md
  tests/smoke/Тесты_ПроверкаПравНаЧтениеОбъектовRLS/Тесты_ПроверкаПравНаЧтениеОбъектовRLS/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

устранил замечания
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

чуть уточнил в документации
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure
