Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Проверка окружения:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  tags:
  - vanessa-add
  script:
  - chcp 65001
  - set PATH
  - set
  - where oscript
  - oscript -version
  - where opm
  - call opm version
  - call opm list
  - where vrunner
  - call vrunner version

Восстановление epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: fetch
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy %EPF_CACHE_PATH% . *.epf cache.json /S /XA:H /NP /UNICODE & dir *.yml & echo success!"
  ...

Сборка файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: false
  script:
  - chcp 65001
  - opm run init file --v8version 8.3.10
  artifacts:
    paths:
    - .\build\ib\1Cv8.1CD
  tags:
  - vanessa-add

Сохранение epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy . %EPF_CACHE_PATH% *.epf cache.json /MIR /XA:H /NP /UNICODE" & dir *.yml & echo success"
  when: always
  tags:
  - vanessa-add

Сборка пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - opm build .
  artifacts:
    paths:
    - .\add-*.zip
    - .\add-*.ospx
  tags:
  - vanessa-add

Сохранение epf-файлов для сборки пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy .\.forbuild %EPF_CACHE_PATH%\.forbuild *.* /MIR /XA:H /NP /UNICODE" & dir *.yml & echo success"
  ...

Модульные тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-tdd/junit-tdd.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-tdd/allure.xml}"
  artifacts:
    when: always
    paths:
  ...

Дымовые тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests/smoke %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-smoke/junit-smoke.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-smoke/allure.xml}"
  artifacts:
    when: always
  ...

BDD тестирование (библиотеки):
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - vrunner vanessa %CI_VRUNNER_SETTINGS% --path features/libraries
  artifacts:
    when: always
    paths:
    - ServiceBases/junitreport/*.xml
    - ServiceBases/allurereport/*.*
    reports:
      junit:
  ...

Allure:
  stage: Allure
  variables:
    GIT_STRATEGY: none
  when: always
  allow_failure: true
  script:
  - call allure generate build/allure-tdd build/allure-smoke ServiceBases/allurereport -c -o build/allure-result
  - echo Allure results - %CI_JOB_URL%/artifacts/file/build/allure-result/index.html
  artifacts:
  ...

Представление ошибок приведено в соответствие с клиентскими методами
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

исправление параметров печати
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Для общих модулей с тестами метод API "Инициализация" сделан необязательным (#886)
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Добавлен генератор отчета в формате Generic Execution
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution.xml
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Ext/ObjectModule.bsl
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма.xml
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма/Ext/Form.xml
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

формат 8.3.10
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

формат 8.3.10
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

формат 8.3.10
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма/Ext/Form.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Области в шаблоне плагина-утилиты
  doc/PluginsTemplates/ШаблонУтилиты/ШаблонУтилиты/Ext/ObjectModule.bsl
  doc/PluginsTemplates/ШаблонУтилиты/ШаблонУтилиты/Forms/Форма/Ext/Form/Module.bsl
Due: none

Представление по умолчанию в шаблоне плагина-утилиты
  doc/PluginsTemplates/ШаблонУтилиты/ШаблонУтилиты/Ext/ObjectModule.bsl
Due: none

Fix: Добавлена пустая строка в конце файла
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Ext/ObjectModule.bsl
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Нормализована работа с файлом теста
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Добавлен генератор отчета в формате Generic Execution (#891)
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution.xml
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Ext/ObjectModule.bsl
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма.xml
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма/Ext/Form.xml
  plugins/ГенераторОтчетаGenericExecution/ГенераторОтчетаGenericExecution/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Шаблонные исключения в тестах командного интерфейса
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

рефакторинг для исключения лишней конвертации в массив
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

фикстура для теста
  spec/fixtures/smoke.json
Due: none

рефакторинг для исключения лишней конвертации в массив
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

файл настройки для теста
  spec/fixtures/smoke.json
Due: none

поиск исключений по шаблону с *
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

ЕстьВИсключаемойКоллекции научился принимать списокЗначений
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

оптимизация обращения к контексту ядра
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

метод Плагин используется на сервере
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

баг Свойство "Активно" у расширений есть с 8.3.12
  plugins/Информатор/Информатор/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Кнопка ИсключитьОбъектыНеРасширение
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form.xml
  tools/epf/utils/УправлениеДымовымиТестами/УправлениеДымовымиТестами/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Информатор научился работать и в xdd, и bdd-режиме
  plugins/Информатор/Информатор/Forms/Форма/Ext/Form.xml
  plugins/Информатор/Информатор/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

выгрузка ОФ
  epf/xddTestRunner/xddTestRunner.xml
  epf/xddTestRunner/xddTestRunner/Forms/Форма/Ext/Form.bin
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

исправлены падения тестов на представления тестов
  lib/CF/83xddNoSync/AccountingRegisters/РегистрБухгалтерии1.xml
  lib/CF/83xddNoSync/AccumulationRegisters/РегистрНакопления2.xml
  lib/CF/83xddNoSync/AccumulationRegisters/РегистрНакопленияОбороты.xml
  lib/CF/83xddNoSync/AccumulationRegisters/РегистрНакопленияОстатки.xml
  lib/CF/83xddNoSync/BusinessProcesses/БизнесПроцесс1.xml
  lib/CF/83xddNoSync/BusinessProcesses/БизнесПроцесс2.xml
  lib/CF/83xddNoSync/CalculationRegisters/РегистрРасчета1.xml
  lib/CF/83xddNoSync/Catalogs/ИерархическийСправочник.xml
  lib/CF/83xddNoSync/Catalogs/ПодчиненныйСДвумяВладельцами.xml
  lib/CF/83xddNoSync/Catalogs/ПодчиненныйСправочник.xml
  lib/CF/83xddNoSync/Catalogs/ПростойСправочник.xml
  lib/CF/83xddNoSync/Catalogs/ПростойСправочник2.xml
  lib/CF/83xddNoSync/Catalogs/ПростойСправочник3.xml
  lib/CF/83xddNoSync/Catalogs/Справочник1.xml
  lib/CF/83xddNoSync/Catalogs/Справочник2.xml
  lib/CF/83xddNoSync/Catalogs/Справочник3.xml
  lib/CF/83xddNoSync/Catalogs/СправочникИерархияЭлементов.xml
  lib/CF/83xddNoSync/Catalogs/СправочникСОбязательнымРеквизитом.xml
  lib/CF/83xddNoSync/Catalogs/СправочникСТабЧастью.xml
  lib/CF/83xddNoSync/Catalogs/СправочникСоСсылкойНаСамогоСебя.xml
  lib/CF/83xddNoSync/Catalogs/дт_ЭлементыСхемРазмещения.xml
  lib/CF/83xddNoSync/ChartsOfAccounts/ПланСчетов1.xml
  lib/CF/83xddNoSync/ChartsOfCalculationTypes/ПланВидовРасчета1.xml
  lib/CF/83xddNoSync/ChartsOfCharacteristicTypes/ВидыСубконто1.xml
  lib/CF/83xddNoSync/Documents/Документ1.xml
  lib/CF/83xddNoSync/Documents/Документ2.xml
  lib/CF/83xddNoSync/Documents/ДокументСДвижениями.xml
  lib/CF/83xddNoSync/InformationRegisters/РегистрСведений1.xml
  lib/CF/83xddNoSync/Tasks/Задача1.xml
  tests/smoke/Тесты_ПроверкаПользовательскихПредставленийОбъектов/Тесты_ПроверкаПользовательскихПредставленийОбъектов.xml
  tests/smoke/Тесты_ПроверкаПользовательскихПредставленийОбъектов/Тесты_ПроверкаПользовательскихПредставленийОбъектов/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исправление падающих тестов метаданных
  lib/CF/83xddNoSync/Roles/ПолныеПрава/Ext/Rights.xml
  lib/CF/83xddNoSync/Subsystems/xUnitFor1C.xml
  lib/CF/83xddNoSync/Subsystems/xUnitFor1C/Subsystems/forTests.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

если нет реквизитов в документе, то тест не выполняем
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

периодичность для прохождения теста
  lib/CF/83xddNoSync/Documents/ДокументСДвижениями.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

проверка на существование права доступа
  tests/smoke/Тесты_ПроверкаСтандартныхРолей/Тесты_ПроверкаСтандартныхРолей/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

если роли не существуют, по ней не выдаются ошибки
  lib/CF/83xddNoSync/Configuration.xml
  tests/smoke/smoke.bsp.json
  tests/smoke/Тесты_ПроверкаСтандартныхРолей/Тесты_ПроверкаСтандартныхРолей/Forms/Форма/Ext/Form/Module.bsl
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

настройка теста Тесты_ПереходНаУправляемыеФормы
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

настройка теста на составные типы данных
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
