Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Проверка окружения:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  tags:
  - vanessa-add
  script:
  - chcp 65001
  - set PATH
  - set
  - where oscript
  - oscript -version
  - where opm
  - call opm version
  - call opm list
  - where vrunner
  - call vrunner version

Восстановление epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: fetch
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy %EPF_CACHE_PATH% . *.epf cache.json /S /XA:H /NP /UNICODE & dir *.yml & echo success!"
  ...

Сборка файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: false
  script:
  - chcp 65001
  - opm run init file --v8version 8.3.10
  artifacts:
    paths:
    - .\build\ib\1Cv8.1CD
  tags:
  - vanessa-add

Сохранение epf-файлов:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy . %EPF_CACHE_PATH% *.epf cache.json /MIR /XA:H /NP /UNICODE" & dir *.yml & echo success"
  when: always
  tags:
  - vanessa-add

Сборка пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - opm build .
  artifacts:
    paths:
    - .\add-*.zip
    - .\add-*.ospx
  tags:
  - vanessa-add

Сохранение epf-файлов для сборки пакета:
  stage: Сборка пакета
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - chcp 65001
  - cmd /c "robocopy .\.forbuild %EPF_CACHE_PATH%\.forbuild *.* /MIR /XA:H /NP /UNICODE" & dir *.yml & echo success"
  ...

Модульные тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-tdd/junit-tdd.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-tdd/allure.xml}"
  artifacts:
    when: always
    paths:
  ...

Дымовые тесты:
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - call vrunner xunit tests/smoke %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-smoke/junit-smoke.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-smoke/allure.xml}"
  artifacts:
    when: always
  ...

BDD тестирование (библиотеки):
  stage: Тестирование
  variables:
    GIT_STRATEGY: none
  script:
  - chcp 65001
  - vrunner vanessa %CI_VRUNNER_SETTINGS% --path features/libraries
  artifacts:
    when: always
    paths:
    - ServiceBases/junitreport/*.xml
    - ServiceBases/allurereport/*.*
    reports:
      junit:
  ...

Allure:
  stage: Allure
  variables:
    GIT_STRATEGY: none
  when: always
  allow_failure: true
  script:
  - call allure generate build/allure-tdd build/allure-smoke ServiceBases/allurereport -c -o build/allure-result
  - echo Allure results - %CI_JOB_URL%/artifacts/file/build/allure-result/index.html
  artifacts:
  ...

XDD Глобально доступный клиентский контекст для модульных тестов (#820)
  doc/xdd/Создание-файлов-тестов.MD
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  tests/xunit/Core/Тесты_ВыполнениеТестов/Тесты_ВыполнениеТестов/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Ссылка на телеграм-чат
  README.md
Due: none

Привел в порядок описание API плагина БазовыеУтверждения (#842)
  doc/xdd/Базовые-утверждения.MD
Due: none

В случае проблемы загрузки файла ошибка в лог и ЖР
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

уменьшаю стек ошибок для ошибок загрузки в логе
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

вывожу полный стек ошибки при интерактивных тестах
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  epf/xddTestRunner/xddTestRunner/Forms/Форма/Ext/Form/Module.bsl
  plugins/ГенераторОтчетаMXL/ГенераторОтчетаMXL/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Исправлена ошибка запуска тестов xUnit в пакетном режиме с помощью vrunner
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

оптимизация НужноПреобразоватьПуть
  epf/bddRunner/bddRunner/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

ПреобразоватьПутьСТочкамиКНормальномуПути возвращает массив сразу
  epf/bddRunner/bddRunner/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

fix xUnitParams
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix Тесты_ПроверкаУстаревшихТиповДанных
  tests/smoke/Тесты_ПроверкаУстаревшихТиповДанных/Тесты_ПроверкаУстаревшихТиповДанных.xml
  tests/smoke/Тесты_ПроверкаУстаревшихТиповДанных/Тесты_ПроверкаУстаревшихТиповДанных/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix smoke.example.json
  tests/smoke/smoke.example.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix Используется
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix ВыполнятьТест
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаВключенияОбъектовВКомандныйИнтерфейс/Тесты_ПроверкаВключенияОбъектовВКомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаВключенияОбъектовСПрефиксомВПодсистему/Тесты_ПроверкаВключенияОбъектовСПрефиксомВПодсистему/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаИндексированияУстаревшихОбъектовМетаданных/Тесты_ПроверкаИндексированияУстаревшихОбъектовМетаданных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаКаноничностиПрефиксаОбъектовСвойств/Тесты_ПроверкаКаноничностиПрефиксаОбъектовСвойств/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаМакетовСКДВнешнихОтчетовОбработок/Тесты_ПроверкаМакетовСКДВнешнихОтчетовОбработок/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаОбщихРеквизитов/Тесты_ПроверкаОбщихРеквизитов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаОбъектовМетаданныхКонфигурацииПоставщика/Тесты_ПроверкаОбъектовМетаданныхКонфигурацииПоставщика/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаОсновныхФормОтчетов/Тесты_ПроверкаОсновныхФормОтчетов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПользовательскихПредставленийОбъектов/Тесты_ПроверкаПользовательскихПредставленийОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПравКУстаревшимОбъектам/Тесты_ПроверкаПравКУстаревшимОбъектам/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПравНаПредопределенныеДанныеОбъектов/Тесты_ПроверкаПравНаПредопределенныеДанныеОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПравНаЧтениеОбъектов/Тесты_ПроверкаПравНаЧтениеОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПравНаЧтениеОбъектовRLS/Тесты_ПроверкаПравНаЧтениеОбъектовRLS/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаления/Тесты_ПроверкаПраваИнтерактивногоУдаления/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаленияПомеченных/Тесты_ПроверкаПраваИнтерактивногоУдаленияПомеченных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПрефиксаВНовыхОбъектахИРеквизитах/Тесты_ПроверкаПрефиксаВНовыхОбъектахИРеквизитах/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПрефиксаСвойствНовыхОбъектов/Тесты_ПроверкаПрефиксаСвойствНовыхОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПривилегированногоРежимаОбъектов/Тесты_ПроверкаПривилегированногоРежимаОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаРегистровДляОтчетаДвиженияДокумента/Тесты_ПроверкаРегистровДляОтчетаДвиженияДокумента/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаРегламентныхЗаданий/Тесты_ПроверкаРегламентныхЗаданий/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаСинонимаОбъектовИСвойствСПрефиксом/Тесты_ПроверкаСинонимаОбъектовИСвойствСПрефиксом/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаСинонимаУстаревшихОбъектовМетаданных/Тесты_ПроверкаСинонимаУстаревшихОбъектовМетаданных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаСоставныхТиповДанных/Тесты_ПроверкаСоставныхТиповДанных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаСтандартныхРолей/Тесты_ПроверкаСтандартныхРолей/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаУстаревшихТиповДанных/Тесты_ПроверкаУстаревшихТиповДанных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаХранилищаВариантовОтчетов/Тесты_ПроверкаХранилищаВариантовОтчетов/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

feat: Добавлен возможность для установки доп. свойств удаляемых данных и метод программного интрефейса для взаимодействия
  plugins/СериализаторMXL/СериализаторMXL/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Добавлена возможность установки доп. свойств объекта при удалении данных для метода "УдалитьСозданныеДанные" (#853)
  plugins/СериализаторMXL/СериализаторMXL/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исправлены ошибки
  plugins/УтвержденияBDD/УтвержденияBDD/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

сборка на гитлабе выполняется для текущей ветки
  .gitlab-ci.yml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Проверка типа настройки модальных окон
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Метод НачатьЗагрузку перенсен из модуля объекта в модуль формы. В модуле объекта был размещен ошибочно
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Ext/ObjectModule.bsl
  plugins/ЗагрузчикИзПодсистемКонфигурации/ЗагрузчикИзПодсистемКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

включил все тесты в файле настройки запуска
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

ошибка падения тестов
  tests/xunit/Plugins/Тесты_ЗагрузчикКаталога/Тесты_ЗагрузчикКаталога/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_ЗагрузчикФайла/Тесты_ЗагрузчикФайла/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_ЗагрузчикФайла/Тесты_ЗагрузчикФайла/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

ошибки падения + совместимость
  plugins/Настройки/Настройки/Ext/ObjectModule.bsl
  plugins/Настройки/Настройки/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

пропускаю устаревшие тесты
  tests/xunit/Core/Тесты_ЗапускВПакетномРежиме/Тесты_ЗапускВПакетномРежиме/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

права чтения на Спр.дт_ЭлементыСхемРазмещения
  lib/CF/83xddNoSync/Roles/Роль1/Ext/Rights.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

Исправил запуск тест-клиента с паролем.
  features/libraries/UITestRunner/ОткрытьTestClient.feature
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, BDD тестирование (библиотеки), Allure

вместо runner явно запускаю ванесса-раннер
  tasks/init.os
Due: none

вынес общие условия
  .gitlab-ci.yml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исправлены ошибки запуска из командной строки
  plugins/Настройки/Настройки/Ext/ObjectModule.bsl
  plugins/Настройки/Настройки/Forms/Форма/Ext/Form/Module.bsl
  tests/xunit/Plugins/Тесты_Настройки/Тесты_Настройки/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_Настройки/Тесты_Настройки/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исправил запуск тест-клиента для дымовых
  tools/JSON/vrunner.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

мелкие улучшения читаемости
  doc/README.md
Due: none

добавлена документация к плагину "ЗапросыИЗБД"
  doc/xdd/ЗапросыИзБД.MD
Due: none

Добавлена поддержка запуска тестов из общих модулей
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Добавлен плагин-загрузчик тестов из расширения
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения.xml
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Ext/ObjectModule.bsl
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма.xml
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form.xml
  plugins/ЗагрузчикРасширения/ЗагрузчикРасширения/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
