Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Восстановление epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сохранение epf-файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Сохранение epf-файлов для сборки пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml

уточнение по json-файлам
  F.A.Q.MD
Due: none

небольшая доработка теста Тесты_ПроверкаСинонимаУстаревшихОбъектовМетаданных
  tests/smoke/Тесты_ПроверкаСинонимаУстаревшихОбъектовМетаданных/Тесты_ПроверкаСинонимаУстаревшихОбъектовМетаданных/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix: добавлен метод проверки исключения из файла настроек
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix: добавлен универсальный шаблонный поиск, как в других дымовых тестах.
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix Тесты_ПроверкаМакетовСКДВнешнихОтчетовОбработок
  tests/smoke/Тесты_ПроверкаМакетовСКДВнешнихОтчетовОбработок/Тесты_ПроверкаМакетовСКДВнешнихОтчетовОбработок/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

исправлена ошибка возврата на версию 8.3.10
  tests/smoke/Тесты_ЕстьПравоНаЧтениеПерекрывающееПравоRLS/Тесты_ЕстьПравоНаЧтениеПерекрывающееПравоRLS/Forms/Форма.xml
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

для теста ФормированиеПечатныхФорм добавлена настройка ПропускатьПустыеФормы
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix plugin Настройки
  plugins/Настройки/Настройки/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix Тесты_ПроверкаРегламентныхЗаданий
  tests/smoke/Тесты_ПроверкаРегламентныхЗаданий/Тесты_ПроверкаРегламентныхЗаданий/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix xUnitParams
  tools/JSON/xUnitParams.json
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix all tests ПлагинНастроек.ПолучитьНастройкиТеста
  tests/smoke/Smoke_InputBasedOn/Smoke_InputBasedOn/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ЕстьПравоНаЧтениеПерекрывающееПравоRLS/Тесты_ЕстьПравоНаЧтениеПерекрывающееПравоRLS/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПереходНаУправляемыеФормы/Тесты_ПереходНаУправляемыеФормы/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Тесты_ПроверкаАвтоРегистрацииПлановОбмена/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаВключенияОбъектовВКомандныйИнтерфейс/Тесты_ПроверкаВключенияОбъектовВКомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаВключенияОбъектовСПрефиксомВПодсистему/Тесты_ПроверкаВключенияОбъектовСПрефиксомВПодсистему/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаИндексированияУстаревшихОбъектовМетаданных/Тесты_ПроверкаИндексированияУстаревшихОбъектовМетаданных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаКаноничностиПрефиксаОбъектовСвойств/Тесты_ПроверкаКаноничностиПрефиксаОбъектовСвойств/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаМакетовСКДВнешнихОтчетовОбработок/Тесты_ПроверкаМакетовСКДВнешнихОтчетовОбработок/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаОбщихРеквизитов/Тесты_ПроверкаОбщихРеквизитов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаОбъектовМетаданныхКонфигурацииПоставщика/Тесты_ПроверкаОбъектовМетаданныхКонфигурацииПоставщика/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаОсновныхФормОтчетов/Тесты_ПроверкаОсновныхФормОтчетов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПериодичностиНумерацииДокументов/Тесты_ПроверкаПериодичностиНумерацииДокументов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПользовательскихПредставленийОбъектов/Тесты_ПроверкаПользовательскихПредставленийОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПравКУстаревшимОбъектам/Тесты_ПроверкаПравКУстаревшимОбъектам/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПравНаПредопределенныеДанныеОбъектов/Тесты_ПроверкаПравНаПредопределенныеДанныеОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПравНаЧтениеОбъектов/Тесты_ПроверкаПравНаЧтениеОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПравНаЧтениеОбъектовRLS/Тесты_ПроверкаПравНаЧтениеОбъектовRLS/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаления/Тесты_ПроверкаПраваИнтерактивногоУдаления/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПраваИнтерактивногоУдаленияПомеченных/Тесты_ПроверкаПраваИнтерактивногоУдаленияПомеченных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПрефиксаВНовыхОбъектахИРеквизитах/Тесты_ПроверкаПрефиксаВНовыхОбъектахИРеквизитах/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПрефиксаСвойствНовыхОбъектов/Тесты_ПроверкаПрефиксаСвойствНовыхОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаПривилегированногоРежимаОбъектов/Тесты_ПроверкаПривилегированногоРежимаОбъектов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаРегистровДляОтчетаДвиженияДокумента/Тесты_ПроверкаРегистровДляОтчетаДвиженияДокумента/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Тесты_ПроверкаРеквизитовДокументовКомментарийОтветственный/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаСинонимаОбъектовИСвойствСПрефиксом/Тесты_ПроверкаСинонимаОбъектовИСвойствСПрефиксом/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаСинонимаУстаревшихОбъектовМетаданных/Тесты_ПроверкаСинонимаУстаревшихОбъектовМетаданных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаСоставныхТиповДанных/Тесты_ПроверкаСоставныхТиповДанных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаСтандартныхРолей/Тесты_ПроверкаСтандартныхРолей/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаУстаревшихТиповДанных/Тесты_ПроверкаУстаревшихТиповДанных/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/Тесты_ПроверкаХранилищаВариантовОтчетов/Тесты_ПроверкаХранилищаВариантовОтчетов/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Возможность запускать сценарии в необходимом
  epf/bddRunner/bddRunner.xml
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form.xml
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/LoadSettings/LoadSettings/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix БазовыеУтверждения
  plugins/БазовыеУтверждения/БазовыеУтверждения/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix Исправление бага с чтением настроек клиент-сервер / сохранение пути к последнему файлу настроек
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  plugins/Настройки/Настройки/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Описание метода НастройкиТестов()
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Получение корректной версии режима совместимости для текущей базы
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Рефакторинг метода сравнения версий - метод выполняет только сравнение версий
  epf/xddTestRunner/xddTestRunner/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

Опечатки, форматирование
  tests/smoke/readme.md
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

падение из-за локализации
  tests/xunit/Plugins/Тесты_СериализаторMXL/Тесты_СериализаторMXL/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сохранение epf-файлов для сборки пакета, Модульные тесты, Allure

исправления https://t.me/vanessa_opensource_chat/4290 + логирование для отлова причин ошибки "Ошибка сетевого взаимодействия при вызове."
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

устранения замечаний
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

устранены замечания
  tests/smoke/тесты_ПроведениеДокументов/тесты_ПроведениеДокументов/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

При загрузке неверного теста выдается описание проблемы
  plugins/ЗагрузчикФайла/ЗагрузчикФайла/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix #988
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

#989
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

пункт про кодировку json-файла
  F.A.Q.MD
Due: none

небольшие уточнения
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

добавлен таймаут для получения командного интерфейса. #992
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

улучшение работы в окнами, сделана возможность выявлять ошибки возникающие в динамическом списке
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

фикс #993
  tests/smoke/ПроверкаЧтенияНеАдминистраторами/ПроверкаЧтенияНеАдминистраторами/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

добавлена возможность удалять настройку
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form.xml
  epf/xddTestRunner/xddTestRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

обработка окон длительных операций #992. Улучшен алгоритм обработки ошибок (те ошибки которые не получались через ПолучитьТекущуюИнформациюОбОшибке ) #1002. Другие мелкие улучшения
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_КомандныйИнтерфейс/тесты_КомандныйИнтерфейс/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Forms/УправляемаяФорма/Ext/Form/Module.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

#998
  tests/smoke/тесты_ФормированиеПечатныхФорм/тесты_ФормированиеПечатныхФорм/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure

fix #997, #998
  tests/smoke/тесты_ПроведениеДокументов/тесты_ПроведениеДокументов/Ext/ObjectModule.bsl
Due: Проверка окружения, Восстановление epf-файлов, Сборка файлов, Сохранение epf-файлов, Сборка пакета, Сохранение epf-файлов для сборки пакета, Модульные тесты, Дымовые тесты, Allure
